@using Microsoft.AspNetCore.Authentication
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Focus.Infrastructure.AppSetting.DisplayName</title>
    @*Style*@
    @await Html.PartialAsync("_Style")
    @RenderSection("css", required: false)
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
    <script>
        var access_token = "@await ViewContext.HttpContext.GetTokenAsync("access_token")";
        var apiUrl = '@Focus.Infrastructure.AppSetting.ApiUrl';
    </script>
    @RenderBody()
    @*Script*@
    @await Html.PartialAsync("_Script")
    <script src="~/js/common.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>
</html>