<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Focus管理系统</title>
    @*Style*@
    @Html.Partial("_StyleLayout")
    @RenderSection("css", required: false)
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    @RenderBody()
    @*Script*@
    @Html.Partial("_ScriptLayout")
    @RenderSection("scripts", required: false)
</body>
</html>
